body {
    font-family: 'Quicksand', sans-serif;
}
h1 {
    width: 80%;
    margin: 20px auto;
    color: #006890;
}
a {
    text-decoration: none;
}

nav {

    a {
        display: inline-block;
        margin-right: 20px;
        padding: 0 10px;
        background: #eee;
    }
}
